body {
	background-color: #212121;
	color: #ffffff;
}

.App {
	text-align: center;

	width: 1000px;
	margin: 50px auto;
}

.fetch_users_btn {
	margin-bottom: 50px;
}

.users__container {
	margin: 40px auto;
	width: 600px;
}
