body {
	background-color: lightblue;
	color: #ffffff;
}

.App {
	text-align: center;
	max-width: 1000px;
	margin: 50px auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
}

.fetch_users_btn {
	margin-bottom: 50px;
}

.users__container {
	margin: 40px auto;
	width: 600px;
}

@media only screen and (max-width: 650px) {
	.users__container {
		margin: 40px auto;
		width: 400px;
	}
}

@media only screen and (max-width: 450px) {
	.users__container {
		margin: 40px auto;
		width: 320px;
	}
}
